*, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: small-caps;
}

:root {
    --primary: rgba(28, 23, 23, .8);
    --secondary: rgba(245, 220, 220, 0.9);
    --tertiary: rgba(134, 14, 14, 0.9);
    --accent: rgb(156, 84, 62);
    --grey: rgb(171, 171, 171);
}

/* typography */
#header {
    color: var(--tertiary);
    font-size: 2.5rem;
}

.subheader {
    color: var(--accent);
    border-bottom: 1px solid var(--grey);
}

p {
    line-height: 1.6;
    color: var(--secondary);
}

a {
    text-decoration: none;
    color: inherit;
}

.sub, .sup {
    font-size: .75rem;
}

.sub {
    vertical-align: sub;
}

.sup {
    vertical-align: super;
}

body {
    background-image: url(../../assets/images/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 1vw 2vw;
}

#current-weather, .previous-day {
    background-color: var(--primary);
    padding: 1vw 2.5vw;
}

#current-weather, #previous-weather, #previous-days {
    display: grid;
}

#current-weather {
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw 2.5vw;
    justify-content: center;
}

#header, #info {
    grid-column: span 3;
}


#sun {
    background-color: rgba(255, 214, 29, 0.577);
    border-radius: 50%;
    box-shadow: 0 0 2vw var(--secondary);
    height: 10vw;
    width: 10vw;
    margin: 1vw;
}

#info {
    padding-top: 2vw;
}

#previous-weather, #previous-days {
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    line-height: 1.25;
}

#previous-header {
    padding: 2vw 0 1vw 2.5vw;
    grid-column: span 7;
    color: var(--primary);
    text-shadow: 1vw 1vw 1vw var(--primary);
}

#previous-days {
    grid-column: span 7;
    gap: 2vw;
}


