* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: small-caps;
}

:root {
    --primary: rgba(28, 23, 23, .8);
    --secondary: rgba(245, 220, 220, 0.9);
    --tertiary: rgba(134, 14, 14, 0.9);
    --accent: rgb(156, 84, 62);
    --grey: rgb(171, 171, 171);
    --overlay: rgba(28, 23, 23, .4);
    --text-shadow: 0 0 1vw;
    --text-shadow-sm: 0 0 .75vw;
}

body {
    background-image: url(../../assets/images/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 1vw 2vw;
}

main {
    width: 100%;
}

/* flow */
body,
.day,
#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#forecast-container {
    display: flex;
    justify-content: space-between;
}

.section {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#current-stats {
    column-gap: .5rem;
}

#sun-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.subheader,
#cme-note {
    grid-column: span 2;
}

/* box */
.desktop {
    display: none;
}

header {
    width: 100%;
}

main {
    padding: 1vw 0;
    box-shadow: 1vw .5vw 5vw var(--primary);
    border-radius: .25rem;
}

#header {
    padding-bottom: 2%;
}

.units {
    border: none;
}


.section,
#forecast {
    background-color: var(--primary);
    box-shadow: 0 0 1rem var(--primary);
    border-radius: 1rem;
    padding: 2%;
    margin-bottom: 1.5rem;
}

.subheader {
    border-bottom: 1px solid var(--grey);
    margin-bottom: .75vw;
}

#recent {
    border-bottom: none;
    padding: 1% 2%;
    margin-bottom: .5rem;
    border-radius: .5rem;
}

#recent .subheader {
    border: none;
}

.sun {
    background-color: rgba(255, 214, 29, 0.577);
    border-radius: 50%;
    box-shadow: 0 0 2vw var(--secondary);
    height: 10vw;
    width: 10vw;
    margin: .5vw 1vw;
    transition: 1s;
}

#header .sun {
    width: 25vw;
    height: 25vw;
    background-color: rgba(255, 214, 29, 0.65);
    box-shadow: 0 0 3vw var(--secondary);
}

#current-stats .sun {
    padding: 5vh 0;
    width: 30vw;
    height: 30vw;
}

.sun:hover,
.sun:active {
    background-color: rgba(255, 214, 29, 0.795);
    box-shadow: 0 0 4vw var(--secondary);
}

/* typography */
header {
    color: var(--primary);
    text-shadow: var(--text-shadow-sm) var(--primary);
    font-size: .75rem;
    text-align: end;
}

header p {
    text-shadow: var(--text-shadow-sm) var(--accent);
}

header a:hover {
    color: var(--accent);
    text-shadow: var(--text-shadow) var(--secondary);
}

main p {
    line-height: 1.4;
}

#title {
    color: var(--primary);
    font-size: 2rem;
    text-shadow: var(--text-shadow) var(--tertiary);
}

.date,
#current-temp,
#temp-units {
    color: rgba(255, 243, 191, 0.577);
    text-shadow: var(--text-shadow) var(--accent);
}

#current-temp,
#current-date {
    font-size: 1.25rem;
}

p {
    color: var(--secondary);
}

a {
    text-decoration: none;
    color: inherit;
    transition: 1s;
}

.subheader {
    color: var(--accent);
    text-shadow: var(--text-shadow-sm) var(--accent);
}

.day p {
    text-shadow: var(--text-shadow-sm) var(--secondary);
}

.section p {
    font-size: 1rem;
    padding-left: 2%;
}

.sub,
.sup {
    font-size: .75rem;
}

.sub {
    vertical-align: sub;
}

.sup {
    vertical-align: super;
}

#cme-note {
    font-variant: normal;
    font-size: .75rem;
}

#sun-details {
    text-shadow: 0 0 1vw rgba(255, 243, 191, 0.577);
}

#api-info p {
    color: var(--primary);
    text-shadow: var(--text-shadow-sm) var(--primary);
    text-align: center;
    font-size: .75rem;
}

#api-info a:hover {
    color: var(--tertiary);
    text-shadow: var(--text-shadow-sm) var(--secondary);
}

.indent {
    text-indent: .5rem;
}

/* display.tablet */
@media screen and (min-width: 768px) {

    /* typography */
    header {
        font-size: .95rem;
    }

    #title,
    #recent {
        font-size: 2.5rem;
    }

    #current-temp,
    #current-date {
        font-size: 1.75rem;
    }

    .subheader {
        font-size: 2.25rem;
        text-shadow: var(--text-shadow) var(--tertiary);
    }

    .section p {
        font-size: 1.5rem;
    }

    #cme-note {
        font-size: 1.25rem;
    }

    #title,
    #recent .subheader {
        color: var(--tertiary);
    }

    #recent .subheader {
        text-shadow: var(--text-shadow) var(--tertiary);
    }

    #api-info p {
        color: var(--secondary);
        text-shadow: var(--text-shadow-sm) var(--secondary);
    }

    #api-info a:hover,
    #api-info a:active {
        text-shadow: var(--text-shadow-sm) var(--tertiary);
    }

    /* box */
    main {
        background-color: var(--primary);
    }

    .section,
    #forecast {
        background-color: var(--overlay);
        box-shadow: none;
    }

    .section p {
        padding-left: .75vw;
    }

    #current-stats .sun {
        width: 20vw;
        height: 20vw;
    }

    #recent {
        margin-bottom: 0;
        background-color: var(--overlay);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    #coronal-mass-ejection {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}

/* display.desktop */
@media screen and (min-width: 1024px) {

    /* typography */
    #title {
        font-size: 3rem;
    }

    #current-temp {
        font-size: 1.5rem;
    }

    .subheader {
        font-size: 1.75rem;
    }

    #recent .subheader {
        font-size: 2rem;
    }

    #current-date {
        font-size: 1.25rem;
    }

    .section p {
        font-size: 1rem;
    }

    #cme-note {
        font-size: .85rem;
    }

    /* box */
    .desktop {
        display: contents;
    }

    body {
        height: 100vh;
    }

    #header .sun, #current-stats .sun {
        display: none;
    }

    #header {
        padding-left: 1.25rem;
    }

    #current-date {
        padding-left: .5rem;
    }

    #current-temp,
    #temp-units {
        padding-left: 1.5rem;
    }

    #header,
    .section,
    #forecast {
        margin: 0;
    }

    #forecast {
        padding: 0 1% 0 0;
    }

    #coronal-mass-ejection,
    #solar-flare,
    #current-stats {
        margin-bottom: auto;
    }

    #forecast,
    #recent,
    .section {
        background-color: transparent;
    }

    #recent {
        padding: .5% 1.25%;
    }

    .sun {
        --sun: 7vw;
        width: var(--sun);
        height: var(--sun);
    }

    #current-stats .sun {
        --sun: 15vw;
        width: var(--sun);
        height: var(--sun);
    }

    /* flow */
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0 1rem
    }

    #header {
        align-items: flex-start;
        justify-content: flex-start;
        grid-column: span 1;
    }

    #forecast {
        grid-column: span 2;
    }

    #forecast-container {
        justify-content: space-around;
    }

    #recent,
    #api-info {
        grid-column: span 3;
    }

    #sun-details {
        grid-column: span 2;
    }
}