* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: small-caps;
    /* outline: 1px dotted blue; */
}

:root {
    --primary: rgba(28, 23, 23, .8);
    --secondary: rgba(245, 220, 220, 0.9);
    --tertiary: rgba(134, 14, 14, 0.9);
    --accent: rgb(156, 84, 62);
    --grey: rgb(171, 171, 171);
    --overlay: rgba(28, 23, 23, .4);
    --yellow: rgba(255, 243, 191, 0.577);
    --sun: rgba(255, 214, 29, 0.577 );
    --text-shadow: 0 0 1vw;
    --text-shadow-sm: 0 0 .75vw;
}

body {
    background-image: url(../../assets/images/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 1vw 2vw;
    display: flex;
    flex-direction: column;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
}

#forecast {
    grid-column: span 2;
    display: flex;
    gap: .5rem;
    overflow-x: scroll;

}

.day-forecast {
    display: grid;
    grid-template-columns: 15vw;
    justify-content: center;
    align-items: center;
    gap: .15rem;
}


#units {
    display: flex;
    grid-column: span 2;
    justify-content: space-around;
}
main {
    width: 100%;
}


/* horizontal scrolling */


/* typography & graphics */
#sun {
    --size: 25vw;
    height: var(--size);
    width: var(--size);
}

#forecast .sun {
    --size: 10vw;
    height: var(--size);
    width: var(--size);
    margin: 0 auto
}

.day {
    text-align: center;
}

.sun {
    background-color: var(--sun);
    border-radius: 50%;
}