/* foundational */
:root {
    --dark: rgb(19, 7, 1);
    --light: rgb(255, 204, 100);
    --accent: rgb(255, 176, 0);
    --orange: rgb(255, 140, 0);
    --burnt: rgb(120 60 0);
    --glow: 0 0 .75rem var(--light);
    --text-shadow: 0 0 .25rem var(--light), 0 0 1rem var(--orange);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 1px dotted var(--accent); */
}

a {
    text-decoration: none;
    color: var(--accent);
    text-shadow: var(--text-shadow);
}

body {
    --_deg: 0deg;
    color: var(--light);
    background-size: 100% 200%;
    background-image: repeating-linear-gradient(var(--_deg),
            var(--dark),
            var(--burnt) 5rem,
            var(--dark) 60rem);
    box-shadow: inset 0 0 5rem var(--burnt);
    display: grid;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant: small-caps;
    gap: 1rem;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto max-content;
    height: 100vh;
    padding: 1rem 0 .5rem .5rem;
    text-shadow: var(--text-shadow);
    animation: background-scroll 20s linear infinite;
    mix-blend-mode: plus-lighter;
}

@keyframes background-scroll {
    from {
        background-position: 100% 100%;
    }

    to {
        background-position: 0 0;
    }
}

#sun-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.25rem;
    position: relative;
}

.site-heading {
    position: absolute;
    top: 12%;
    text-shadow: var(--text-shadow);
}

footer {
    grid-column: 1 / -1;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    height: 100%;
    overflow-y: hidden;

    section {
        --_color: var(--accent);
        border-top: 1px solid var(--_color);
        border-radius: 2rem 0 0 2rem;
        width: 100%;
    }

    section:last-of-type {
        border-radius: 2rem 0 0 0;
    }
}


.subheader,
.label {
    color: var(--accent);
}

.subheader {
    font-weight: 400;
}

main h2.subheader {
    padding: .5rem 1rem;
}

button {
    --_outline: 2px solid var(--accent);
    --_btn-glow: inset 0 0 .5rem var(--orange), 0 0 .75rem -2px var(--accent);
    background-color: transparent;
    box-shadow: var(--_btn-glow);
    border: var(--_outline);
    outline: var(--_outline);
    outline-offset: -2px;
    color: var(--accent);
    padding: .75em 1rem;
    border-radius: 1rem;
    font-variant: small-caps;
    transition: outline-offset 250ms ease-in-out, background-color 250ms ease-in-out, color 250ms ease-in-out;
    text-shadow: var(--text-shadow);

    &:hover,
    &:focus,
    &.active-btn {
        border-style: solid;
        outline-offset: -6px;
    }

    &.active-btn {
        background-color: var(--burnt);
        color: var(--light);
    }
}

ul {
    list-style: none;
}

/* body>#sun-section */

#sun-graphic {
    --size: 10rem;
    --_glow: 0 0 1rem var(--accent), inset 0 0 1rem var(--accent);
    --_glow-b: 0 0 2rem var(--orange), inset 0 0 2rem var(--orange);
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    border: 3px solid var(--accent);
    outline: 1px dashed var(--accent);
    outline-offset: -2px;
    box-shadow: var(--_glow);
    animation: rotate 50s linear infinite, glow 15s linear infinite alternate;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


#temp-txt {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    justify-content: flex-end;
}

#units #units-controller {
    --_glow: 0 0 1rem var(--accent), inset 0 0 1rem var(--accent);
    --_glow-b: 0 0 2rem var(--orange), inset 0 0 2rem var(--orange);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: none;
    gap: 2rem;
    position: relative;
    box-shadow: var(--_glow);
    border-radius: 1rem;
    outline: 2px solid var(--accent);
    outline-offset: -3px;

    & legend {
        padding-inline: .5rem;
        position: absolute;
        top: -15%;
        text-shadow: var(--text-shadow);
    }

    & label {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .5rem;
    }

    & input[type="radio"] {
        --_radio-glow: inset 0 0 .5rem var(--accent), 0 0 .75rem var(--burnt);
        /* accent-color: var(--accent); */
        --_size: 2rem;
        appearance: none;
        background: var(--dark);
        border-radius: 50%;
        height: var(--_size);
        width: var(--_size);
        box-shadow: var(--_radio-glow);
        outline: 2px solid var(--orange);
        transition: border 250ms ease-in-out
    }

    & input[type="radio"]:checked {
        --_radio-glow: inset 0 0 .5rem var(--light), 0 0 .75rem var(--light);
        border: 6px solid var(--light);
        background-color: var(--burnt);
    }
}

/* body>main>section: #sun-section */
#forecast-container,
#sun-stats {
    display: grid;
    gap: .5rem;
}

#forecast-container {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

#sun-stats {
    grid-template-columns: auto 1fr;

    & dd:has(#distance) {
        display: flex;
        flex-direction: column;
    }
}

/* body>main>section: #activity-section */
#activity-section {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */

    & #api-selection {
        display: flex;
        gap: 1rem;
        padding: .75rem .5rem .5rem .5rem;
    }
}

#activity-lists {
    overflow-y: scroll;
}

#activity-lists .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: .75rem;
    /* overflow-y: scroll; */
    padding: 1rem 0 0 .75rem;

    & .item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: .25rem 0;
        grid-auto-rows: max-content;
        border: 1px solid var(--burnt);
        border-right: none;
        border-radius: 1rem 0 0 1rem;
        padding: .5rem 0 .5rem .5rem;

        & .subheader,
        & .cme-note {
            grid-column: 1 / -1;
        }
    }
}

.dash-glow {
    background: linear-gradient(90deg, var(--accent) 50%, transparent 50%),
        linear-gradient(90deg, var(--accent) 50%, transparent 50%),
        linear-gradient(0deg, var(--accent) 50%, transparent 50%),
        linear-gradient(0deg, var(--accent) 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
    background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
    animation: dash 15s linear infinite, glow 15s linear infinite alternate;
}

@keyframes dash {
    to {
        background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    }
}

@keyframes glow {
    from {
        box-shadow: var(--_glow);
    }

    to {
        box-shadow: var(--_glow-b);
    }
}

.desktop {
    display: none;
}
.mobile {
    display: block;
}

@media screen and (min-width: 1024px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }

    button {
        font-size: 1rem;
    }

    body {
        padding: 2rem 0 2rem 2rem;
        gap: 2rem;
    }

    main {
        gap: 2rem;
    }

    main section > :not(h2) {
        padding-left: 1rem !important;
    }

    #sun-stats {
        grid-template-columns: repeat(4, auto 1fr);
    }

    #forecast-container {
        grid-template-columns: repeat(5, 1fr);
    }

    #activity-lists {
        scrollbar-width: thin;
        scrollbar-color: var(--accent) var(--dark);
        scrollbar-gutter: stable;
    }

    #activity-lists .list {
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 0;
    }

    #activity-lists .list .item {
        width: 32%;
        font-size: 1rem;
        border-radius: 1rem;
        border-right: 1px solid var(--burnt);
        padding: 1rem;
    }
}