:root {
    --dark: rgba(28, 23, 23, .45);
    --light: rgba(245, 220, 220, 0.9);
    --red: rgba(134, 14, 14, 0.9);
    --orange: rgb(193, 102, 74);
    --yellow: rgba(255, 243, 191, 0.75);
    --txt-shadow: 0 0 .25vw;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: small-caps;
    font-family: 'Roboto', sans-serif;
    /* outline: 1px dotted cyan; */
}

::-webkit-scrollbar {
    display: none;
}

/* DISPLAY */
.flex {
    display: flex;
}

.grid {
    display: grid;
    grid-template-rows: max-content;
}

/* BOX */
body {
    background: linear-gradient(var(--dark), var(--dark)), url(../../src/img/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(.25rem);
    display: flex;
    flex-direction: column;

    & footer {
        display: flex;
        height: min-content;
        color: var(--yellow);
        justify-content: center;
    }

    &>* {
        padding: .5rem 1rem;
    }
}

header {
    display: grid;
    align-items: flex-start;
    justify-items: center;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
        "sun h1"
        "sun c"
        "txt txt";

    & h1 {
        grid-area: h1;
    }

    & #sun-graphic {
        grid-area: sun;
        --size: 35vw;
        border-radius: 50%;
        height: var(--size);
        width: var(--size);
        margin: 1.25rem;
        animation: glowing 4s infinite alternate;
    }

    #temp-txt {
        grid-area: txt;
        display: grid;
        grid-template-columns: 1fr auto;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        & article:nth-child(1) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #temp-now {
            font-size: 2rem;
            color: var(--orange);
        }

        #high-low {
            & .label {
                display: flex;
                gap: .5rem;

                & span {
                    width: 4rem;
                    text-align: right;
                }
            }
        }

    }

    & #units {
        grid-area: c;
        border: none;
        display: flex;
        justify-content: flex-end;

        & #units-controller {
            padding: .5rem;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            border: 1px solid var(--yellow);
            width: max-content;
            align-items: flex-end;
            gap: 1rem;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & section {
        margin-bottom: 1rem;
    }

    & #forecast {
        overflow: scroll;

        & #forecast-container {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 1rem;

            & .day {
                width: 22vw;
                flex-direction: column;
                border-radius: 1rem;
                outline: 1px solid var(--yellow);
                padding: .5rem;
            }

        }
    }

    & #sun-stats {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: .5rem;

        & article {
            outline: 1px solid var(--yellow);
            width: 10rem;
            padding: .5rem;
            border-radius: 1rem;
        }
    }

    & #activity {
        & #api-selection {
            gap: 1rem;

            & button {
                background-color: transparent;
                padding: .5rem;
                font-size: 1.25rem;
                border: none;
                text-shadow: none;
                color: var(--red);
                transition: 1s color, 1s text-shadow;
                border-radius: 1rem;
                text-shadow: var(--txt-shadow) var(--yellow);

                &:focus {
                    color: var(--yellow);
                    text-shadow: var(--txt-shadow) var(--yellow);
                }
            }
        }
    }
}

.list {
    display: flex;
    gap: 2rem;
    overflow: scroll;
    list-style: none;
    padding: .5rem;

    & .item {
        grid-template-columns: 6rem 11rem;
        height: 100%;
        gap: 0 1rem;
        border-radius: 1rem;
        outline: 1px solid var(--yellow);
        padding: .75rem;

        & h3 {
            grid-column: span 2;
        }
    }
}

/* COLOR & TEXT*/
.bg {
    background-color: var(--dark);
}

a {
    color: inherit;
    text-decoration: none;
    height: max-content;
    transition: 1s;
}

a:hover,
.subheader {
    color: var(--orange);
    text-shadow: var(--txt-shadow) var(--dark);
}

p {
    color: var(--light);
}

.label {
    color: var(--yellow);
    text-shadow: var(--txt-shadow) var(--yellow);
    font-weight: lighter;
}

.cme-note {
    grid-column: span 2;
    max-height: 12rem;
    overflow: scroll;

    & p {
        font-variant: normal;
    }
}

.item .label,
.speed {
    width: max-content;
}

/* ANIMATION */
@keyframes glowing {
    0% {
        background-color: rgba(255, 219, 60, 0.75);
        box-shadow: 0 0 2rem var(--light);
    }

    50% {
        background-color: rgba(255, 207, 86, 0.85);
        box-shadow: 0 0 1rem var(--yellow);
    }

    100% {
        background-color: rgba(255, 221, 141, 0.8);
        box-shadow: 0 0 3rem var(--orange);
    }
}

/* DISPLAY */
@media screen and (min-width: 768px) {
    header {
        grid-template-columns: min-content auto 1fr;
        grid-template-rows: .5fr 1fr;
        grid-template-areas:
            "sun h1 txt"
            "sun c txt";
        gap: 0 1rem;
        align-items: center;

        & h1 {
            align-self: flex-end;
        }

        & #units {
            align-self: baseline;
        }

        & #sun-graphic {
            --size: 30vw;
            margin: 2rem 2rem 3rem 2rem;
        }

        & #temp-txt {
            & #temp-now {
                font-size: 3rem;
            }
        }
    }

    main {
        display: grid;
        gap: 1rem;
        align-items: flex-start;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto auto 1fr;
        grid-template-areas:
            "h2-1 h2-2"
            "se-1 se-2"
            "h2-3 h2-3"
            "se-3 se-3";


        &>h2:nth-of-type(1) {
            grid-area: h2-1;
        }

        &>h2:nth-of-type(2) {
            grid-area: h2-2;
        }

        &>h2:nth-of-type(3) {
            grid-area: h2-3;
        }

        & #forecast {
            grid-area: se-1;
            overflow: visible;
            display: flex;
            height: 90%;

            & #forecast-container {
                grid-template-columns: repeat(3, 1fr);
                outline: 1px solid var(--yellow);
                border-radius: 1rem;

                & .day {
                    outline: none;
                    width: 12vw;
                }
            }
        }

        & #sun-stats {
            grid-area: se-2;
            grid-template-columns: repeat(2, 1fr);
            border-radius: 1rem;
            outline: 1px solid var(--yellow);

            & article {
                outline: none;
            }
        }

        & #activity {
            grid-area: se-3;
            height: 100%;
        }
    }
}


@media screen and (min-width: 1024px) {

    :root {
        --corner: 0;
    }

    body {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas:
            "head main"
            "foot main";
    }

    header {
        grid-area: head;
        align-items: flex-start;
        gap: 1rem;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
            "sun sun"
            "h1 c"
            "txt txt";

        & #sun-graphic {
            --size: 20vw;
        }

        & h1 {
            justify-self: flex-end;
        }

        & #units {
            justify-self: flex-start;

            & #units-controller {
                background-color: var(--dark);
                flex-direction: row;
            }
        }

        & #temp-txt {
            display: flex;
            flex-direction: column;
            font-size: 1.25rem;
        }
    }

    footer {
        grid-area: foot;
    }

    main {
        grid-area: main;
        overflow: hidden;
        grid-template-areas:
            "h2-1 h2-3"
            "se-1 se-3"
            "h2-2 se-3"
            "se-2 se-3";

        & #forecast {
            height: min-content;

            & #forecast-container {
                background-color: var(--dark);
                grid-template-columns: repeat(1, 1fr);
                gap: 0;
            }
        }

        & #sun-stats {
            grid-template-columns: repeat(1, 1fr);
            gap: 0;
            width: min-content;
            background-color: var(--dark);
        }

        & #activity {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            & #api-selection {
                padding: .25rem;
                position: sticky;
                top: 0;
                z-index: 999;

                & button {
                    box-shadow: none;
                    transition: 1s box-shadow, 1s color;

                    &:hover {
                        box-shadow: var(--txt-shadow) var(--yellow);
                        color: var(--light);
                    }
                }


                & .active-btn {
                    background-color: var(--dark);
                    outline: 1px solid var(--yellow);
                    color: var(--yellow);
                    transition: 1s color, 1s outline, 1s background-color;
                }

            }

            & .list {
                flex-wrap: wrap;
                overflow: scroll;

                & .item {
                    background-color: var(--dark);
                    grid-template-columns: 6rem 15rem;
                    height: min-content;
                }
            }
        }
    }

}