:root {
    --dark: rgba(28, 23, 23, .45);
    --light: rgba(245, 220, 220, 0.9);
    --red: rgba(134, 14, 14, 0.9);
    --orange: rgb(156, 84, 62);
    --yellow: rgba(255, 243, 191, 0.75);
    --txt-shadow: 0 0 .25vw;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: small-caps;
    font-family: 'Roboto', sans-serif;
    /* outline: 1px dotted cyan; */
}

::-webkit-scrollbar {
    display: none;
}

/* DISPLAY */
.flex {
    display: flex;
}

.grid {
    display: grid;
    grid-template-rows: max-content;
}

/* BOX */
body {
    background: linear-gradient(var(--dark), var(--dark)), url(../../src/img/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(.25rem);
    display: flex;
    flex-direction: column;

    & footer {
        display: flex;
        height: min-content;
        color: var(--yellow);
        justify-content: center;
    }

    &>* {
        padding: .5rem 1rem;
    }
}

header {
    display: grid;
    align-items: flex-start;
    justify-items: center;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas:
        "sun h1"
        "sun c"
        "txt txt";

    & h1 {
        grid-area: h1;
    }

    & #sun-graphic {
        grid-area: sun;
        --size: 35vw;
        border-radius: 50%;
        height: var(--size);
        width: var(--size);
        margin: 1.25rem;
        animation: glowing 4s infinite alternate;
    }

    #temp-txt {
        grid-area: txt;
        display: grid;
        grid-template-columns: 1fr auto;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        & article:nth-child(1) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #temp-now {
            font-size: 2rem;
            color: var(--orange);
        }

        #high-low {
            & .label {
                display: flex;
                gap: .5rem;

                & span {
                    width: 4rem;
                    text-align: right;
                }
            }
        }

    }

    & #units {
        grid-area: c;
        border: none;
        display: flex;
        justify-content: flex-end;

        & #units-controller {
            padding: .5rem;
            display: flex;
            flex-direction: column;
            border-radius: 1rem;
            border: 1px solid var(--yellow);
            width: max-content;
            align-items: flex-end;
            gap: 1rem;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    & section {
        margin-bottom: 1rem;
    }

    & #forecast {
        overflow: scroll;
        display: flex;
        flex-direction: column;

        & #forecast-container {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 1rem;

            & .day {
                width: 22vw;
                flex-direction: column;
                border-radius: 1rem;
                outline: 1px solid var(--yellow);
                padding: .5rem;
            }

        }
    }

    & #sun-stats {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: .5rem;

        & article {
            outline: 1px solid var(--yellow);
            width: 10rem;
            padding: .5rem;
            border-radius: 1rem;
        }
    }

    & #activity {
        & #api-selection {
            gap: 1rem;

            & button {
                background-color: transparent;
                padding: .5rem;
                font-size: 1.25rem;
                border: none;
                text-shadow: none;
                color: var(--red);
                transition: 1s color, 1s text-shadow;
                border-radius: 1rem;
                text-shadow: var(--txt-shadow) var(--yellow);

                &:focus {
                    color: var(--yellow);
                    text-shadow: var(--txt-shadow) var(--yellow);
                }
            }
        }
    }
}

.list {
    display: flex;
    gap: 2rem;
    overflow: scroll;
    list-style: none;
    padding: .5rem;

    & .item {
        grid-template-columns: 6rem 11rem;
        height: 100%;
        gap: 0 1rem;
        border-radius: 1rem;
        outline: 1px solid var(--yellow);
        padding: .75rem;

        & h3 {
            grid-column: span 2;
        }
    }
}

/* COLOR & TEXT*/
.bg {
    background-color: var(--dark);
}

a {
    color: inherit;
    text-decoration: none;
    height: max-content;
    transition: 1s;
}

a:hover,
.subheader {
    color: var(--orange);
    text-shadow: var(--txt-shadow) var(--dark);
}

p {
    color: var(--light);
}

.label {
    color: var(--yellow);
    text-shadow: var(--txt-shadow) var(--yellow);
    font-weight: lighter;
}

.cme-note {
    grid-column: span 2;
    max-height: 12rem;
    overflow: scroll;

    & p {
        font-variant: normal;
    }
}

.item .label,
.speed {
    width: max-content;
}

/* ANIMATION */
@keyframes glowing {
    0% {
        background-color: rgba(255, 214, 29, 0.75);
        box-shadow: 0 0 1rem var(--light);
    }

    50% {
        background-color: rgba(255, 207, 86, 0.85);
        box-shadow: 0 0 4rem var(--light);
    }

    100% {
        background-color: rgba(247, 216, 145, 0.8);
        box-shadow: 0 0 3rem rgb(255, 176, 29);
    }
}

/* DISPLAY */
@media screen and (min-width: 768px) {
    /* section {
        box-shadow: 0 0 1rem var(--yellow);
        background-color: inherit;
        border-radius: .5rem;
    }

    #sun-graphic {
        --size: 15vw;
        margin: .25rem 1.5rem;
    }

    #api-selection {
        flex-direction: row;
    }

    #api-selection .list {
        flex-direction: column;
        height: 55vh;
    }

    #units {
        & legend {
            float: left;
        }
    } */
}

@media screen and (min-width: 1024px) {
    header {
        flex-grow: 1;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 2rem;
    }

    main {
        flex-direction: row;
    }

    .cme-note {
        max-height: inherit;
    }

    #api-selection .list {
        height: 40vh;
    }

    #sun-graphic {
        --size: 12.5vw;
        margin: .5rem 1.5rem 1.5rem 1.5rem;
    }

    #sun-section {
        grid-template-columns: auto 25vw;
    }

    #sun-stats {
        align-self: flex-start;
    }
}