:root {
    --dark: rgba(28, 23, 23, .45);
    --light: rgba(245, 220, 220, 0.9);
    --red: rgba(134, 14, 14, 0.9);
    --orange: rgb(156, 84, 62);
    --yellow: rgba(255, 243, 191, 0.75);
    --txt-shadow: 0 0 .25vw;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: small-caps;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

/* COLOR & TEXT*/
.bg {
    background-color: var(--dark);
}

a {
    color: inherit;
    text-decoration: none;
    height: max-content;
    transition: 1s;
}

a:hover,
.subheader {
    color: var(--orange);
    text-shadow: var(--txt-shadow) var(--dark);
}

p {
    color: var(--light);
}

.label {
    color: var(--yellow);
    text-shadow: var(--txt-shadow) var(--yellow);
    font-weight: lighter;
}

.cme-note p {
    font-variant: normal;
}

/* DISPLAY */
.flex {
    display: flex;
}

.grid {
    display: grid;
    grid-template-rows: max-content;
}

/* BOX */
body {
    background: linear-gradient(var(--dark), var(--dark)), url(../../src/img/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

footer {
    flex-grow: 1;
    width: inherit;
    justify-content: center;
}

header {
    align-items: baseline;
    justify-content: space-between;
    padding: 0.25rem 2rem;
    width: inherit;
}

h3,
.cme-note {
    grid-column: span 2;
}

main {
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    width: inherit;
}

section {
    border-radius: .5rem;
    box-shadow: 0 0 1rem var(--yellow);
    backdrop-filter: blur(.5rem)
}

.day {
    flex-direction: column;
}

.cme-note {
    max-height: 8rem;
    overflow: scroll;
}

.item {
    grid-template-columns: 8rem 6rem;
    gap: 0 1rem;
    height: fit-content;
}

.item .label,
.speed {
    width: max-content;
}

.list {
    gap: 2rem;
    overflow: scroll;
    list-style: none;
}

#api-section {
    flex-direction: column-reverse;
    flex-grow: 1;
    gap: 1rem;
    padding: .5rem 1.25rem;
}

#api-section article {
    flex-grow: 1;
}

#current-date {
    grid-area: c;
    align-self: flex-end;
}

#forecast {
    grid-area: e;
    overflow: scroll;
}

#forecast-container {
    grid-template-columns: repeat(5, max-content);
    gap: 1rem;
}

#sun {
    grid-area: a;
    text-align: center;
}

#sun-graphic {
    --size: 30vw;
    background-color: rgba(255, 214, 29, 0.75);
    border-radius: 50%;
    box-shadow: 0 0 2rem var(--light);
    height: var(--size);
    width: var(--size);
    margin: .25rem .75rem;
    animation: glowing 4s infinite alternate;
}

#sun-section {
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "a c"
        "a d"
        "b e";
    gap: 0 .25rem;
    padding: .5rem .25rem;
    align-items: start;
}

#sun-temp {
    grid-template-columns: repeat(2, max-content);
    gap: 0 .5rem;
    text-align: center;
    justify-self: center;
}

#sun-text {
    grid-area: d;
    grid-template-columns: auto 1fr;
    gap: .25rem .5rem;
    align-self: end;
}

#units {
    border: none;
    gap: .5rem;
}

#units legend {
    float: left;
    font-size: 80%;
}

/* ANIMATION */
@keyframes glowing {
    100% {
        background-color: rgba(247, 216, 145, 0.8);
        box-shadow: 0 0 3rem rgb(255, 176, 29);
    }
}

/* DISPLAY */
@media screen and (min-width: 768px) {
    #sun-graphic {
        --size: 15vw;
        margin: .25rem 1.5rem;
    }

    #api-section {
        flex-direction: row;
    }

    #api-section .list {
        flex-direction: column;
        height: 55vh;
    }
}

@media screen and (min-width: 1024px) {
    header {
        flex-grow: 1;
        align-items: flex-end;
        justify-content: flex-start;
        gap: 2rem;
    }

    main {
        flex-direction: row;
    }

    .cme-note {
        max-height: inherit;
    }

    #api-section .list {
        height: 40vh;
    }

    #sun-graphic {
        --size: 12.5vw;
        margin: .5rem 1.5rem 1.5rem 1.5rem;
    }

    #sun-section {
        grid-template-columns: auto 25vw;
    }

    #sun-text {
        align-self: flex-start;
    }
}